@{
    ViewData["Title"] = "Movie List";
}

<h2>I Can Haz IP?</h2>

<p>
    <strong>PrivateIp:</strong> @ViewData["PrivateIp"]<br />
    <strong>PublicIp:</strong> @ViewData["ICanHazIp"]<br />
    <strong>HostName</strong> @ViewData["HostName"]<br />
    <strong>RemoteIp</strong> @ViewData["RemoteIp"]<br />
    <strong>LocalIp:</strong> @ViewData["LocalIp"]<br />
    <strong>Headers:</strong> @ViewData["HeadersCommaDelimited"]
</p>